link-persons.code-workspace

/back-admin/*.log
/back-admin/.DS_Store
/back-admin/.env
/back-admin/.env.backup
/back-admin/.env.production
/back-admin/.phpactor.json
/back-admin/.phpunit.result.cache
/back-admin/.fleet
/back-admin/.idea
/back-admin/.nova
/back-admin/.phpunit.cache
/back-admin/.vscode
/back-admin/.zed
/back-admin/auth.json
/back-admin/node_modules
/back-admin/public/build
/back-admin/public/hot
/back-admin/public/storage
/back-admin/storage/*.key
/back-admin/storage/pail
/back-admin/vendor
/back-admin/Homestead.json
/back-admin/Homestead.yaml
/back-admin/Thumbs.db

# dependencies
/front-site/node_modules
/front-site/.pnp
/front-site/.pnp.js
# testing
/front-site/coverage
# production
/front-site/build
# misc
/front-site/.DS_Store
/front-site/.env.local
/front-site/.env.development.local
/front-site/.env.test.local
/front-site/.env.production.local
/front-site/npm-debug.log*
/front-site/yarn-debug.log*
/front-site/yarn-error.log*
/front-site/dist
/front-site/.env
/front-site/.env.*
/front-site/.eslintcache
/front-site/*.tsbuildinfo
/front-site/pnpm-debug.log*

/back-admin/.env.*
/back-admin/storage/logs/
/back-admin/storage/framework/
/back-admin/bootstrap/cache/
/back-admin/*.zip

/.env
/.env.*
/.vscode/
/.idea/
/Thumbs.db
/.DS_Store
/back-admin/storage/media-library/temp
back-admin/.editorconfig
back-admin/.gitattributes
.github/instructions/instructions.instructions.md
